@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
	--font: 'Shadows Into Light', sans-serif;
	--sec-font: 'Nunito', sans-serif;
	--light-purple: rgba(142, 60, 213, 0.87);
	--dark-purple: #6D07F2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
}

html {
	box-sizing: border-box;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-wrapper > * {
	flex: 1;
}

a {
	text-decoration: none;
	color: inherit;
}

label {
	display: block;
}


input:disabled {
	color: #ccc;
}

.button {
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	font-size: 18px;
	font-family: var(--sec-font);
	background-color: var(--dark-purple);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	text-decoration: none;
}

.button:hover {
	background-color: white;
	color: black;
	border: 1px solid var(--dark-purple);
	transform: scale(1.05);
}

.button:focus {
	outline: none;
}

.section-title {
	font-family: var(--font);
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	margin-top: 50px;
	font-weight: bold;
}



