@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
	--font: 'Shadows Into Light', sans-serif;
	--sec-font: 'Nunito', sans-serif;
	--light-purple: rgba(142, 60, 213, 0.87);
	--dark-purple: #6D07F2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-wrapper > * {
	flex: 1;
}



a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}


input:disabled {
	color: #ccc;
}


